<?xml version="1.0" encoding="UTF-8"?>
<Properties xmlns="http://schemas.openxmlformats.org/officeDocument/2006/extended-properties" xmlns:vt="http://schemas.openxmlformats.org/officeDocument/2006/docPropsVTypes"><Template>Normal.dotm</Template><TotalTime>5</TotalTime><Words>1935</Words><Pages>7</Pages><Characters>3014</Characters><Application>WPS Office</Application><DocSecurity>0</DocSecurity><Paragraphs>179</Paragraphs><ScaleCrop>false</ScaleCrop><LinksUpToDate>false</LinksUpToDate><CharactersWithSpaces>3077</CharactersWithSpaces></Properties>