www.catten.cyou {

 # 阿里巴巴
 redir /alibaba /alibaba/ 308
 handle_path /alibaba/* {
  root * /var/www/html/alibaba
  try_files {path} /index.html
  @is_php {
   file *.php
  }
  php_fastcgi @is_php 127.0.0.1:9074
  file_server
  encode gzip zstd
 }

 # 文件托管
 handle_path /file* {
  root * /var/www/charade/filehost
  try_files {path} {path}/index.php?{query}
  php_fastcgi 127.0.0.1:9074
  file_server
 }

 # 小喵AI助手
 handle_path /ai/* {
  reverse_proxy localhost:3001
 }

 # SillyTavern 酒馆
 handle /tavern/* {
  uri strip_prefix /tavern
  reverse_proxy localhost:8000
 }

 # Jung
 handle /jung/* {
  root * /var/www/jung
  try_files {path} /index.html
  file_server
 }

 # Charade
 handle /charade/* {
  root * /var/www/charade/charade
  try_files {path} {path}/index.php?{query}
  php_fastcgi 127.0.0.1:9074
  file_server
  encode gzip zstd
 }

 # Chat
 handle /chat/* {
  root * /var/www/charade
  try_files /chat{path} /chat/index.html
  @is_php {
   file *.php
  }
  php_fastcgi @is_php 127.0.0.1:9074
  file_server
 }

 redir /jung /jung/ 308

 root * /var/www/charade
 try_files {path} {path}/index.php?{query}
 php_fastcgi 127.0.0.1:9074
 file_server
 encode gzip zstd
}

# SillyTavern 酒馆（子域名）
tavern.catten.cyou {
 reverse_proxy localhost:8000
}
